.nav-bar {
  display: grid;
  padding: 50rem 34rem 568rem 34rem;
  background: var(--White-font);
  box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
  gap: 212px;
  height: fit-content;
  max-width: 108px;
  position: sticky;
  top: 0;

  @include tablet {
    display: block;
    padding: 30rem 15rem 100rem 15rem;
  }

  &__mode {
    text-align: center;
    .light {
      display: none;
      cursor: pointer;

      width: 25px;
      height: 25px;
      img {
        width: 25px;
        height: 25px;
      }

      &._active {
        display: block;
      }
    }

    .dark {
      cursor: pointer;
      width: 25px;
      height: 25px;
      img {
        width: 25px;
        height: 25px;
      }
      &._active {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 45px;
    }
  }
  &__ul {
    display: grid;
    gap: 43px;
  }

  circle {
    transition: var(--transition);

    &:hover {
      fill: var(--Yellow);
    }
  }
}

.download {
  text-align: center;
  display: none;

  @include tablet {
    display: block;
    margin-top: 60px;
  }
}
