.rayan {
  padding-left: 60rem;
  padding-right: 58rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 26rem;
  background-color: var(--White);

  @include desktop-small {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  &__title {
    font: var(--H1);
    color: var(--Black);
    text-transform: capitalize;
    max-width: 500rem;
    margin-top: 93rem;
    margin-bottom: 18rem;

    @include tablet {
      margin-top: 40rem;
    }
  }

  &__desc {
    font: var(--H6);
    color: var(--Paragraph-Font);
    max-width: 400rem;
    margin-bottom: 25rem;
  }

  &__main-btn {
    padding: 16rem 32rem;
    background-color: var(--Yellow);
    border-radius: 5rem;
    display: inline-flex;
    align-items: center;
    gap: 9rem;

    &:hover {
      background: #f5c24c;
    }
  }

  &__rayan {
    margin-top: 8rem;
    width: 326rem;
    height: 459rem;
  }
}

.main-btn {
  &__span {
    font: var(--btn-main);
    color: var(--Black);
  }
}
